.container{
    margin: 60px;
}

.table{
    margin: 60px;
    font-size: 1.1rem;
}

.icon{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
}

.icon :hover{
    text-decoration: none;
}

.icon-edit{
    color:var(--dark-gray);
}

.icon-send{
    color: var(--secondary-blue);
}

.icon-see-pdf{
    color: var(--pink);
}