:root {
  
    --primary-purple: #3A0CA3;
    --dark-gray:  #424242;
    --pink: #D05270;
    --secondary-blue: #1275B1;
    --soft-blue: #E7F5FF;
    --success:#05B27A;
    --warm-black: #201E1C;
    --black: #282623;
    --light-gray: #a3a1a1;
    --off-white: #FAF8F7;
    --just-white: #FFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.header{
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.header .nav-link{
    color:var(--dark-gray);
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: bold;
}

.header h2 a{
    color:var(--secondary-blue);
    margin-right: 20px;
}

.header h2 a:hover{
    color:var(--secondary-blue);
}

.header label{
    color:var(--dark-gray);
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: bold;
}


section{
    padding: 20px 60px;
}

.section--title{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.9rem;
    color: var(--secondary-blue);
}
footer{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: var(--secondary-blue);
    background: #E0E0E0 0% 0% no-repeat padding-box;
}

.form-control{
    border-radius: 5px;
}
.card{
    margin: 5px 0px;
    padding: 20px;
    background: var(--just-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
}

.card--header{
    margin-bottom: 10px;
}

.card--footer{
    margin-top: 10px;
}

.btn{
    border-radius: 5px;
    padding: 5px 10px;
}

