#edit_bank_account_action {
    cursor: pointer;
}

#edit_bank_account_action:hover {
    cursor: pointer;
}
.icon{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
}

.icon :hover{
    text-decoration: none;
}

.icon-edit{
    color:var(--dark-gray);
}

.icon-see-pdf{
    color: var(--pink);
}

.icon-see-pdf:hover{
    color: var(--pink);
}
