html {
    min-height: 100%;
    position: relative;
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
body {
    margin: 0;
    margin-bottom: 40px;
}

.information-debtor {
    margin-bottom: 100px;
}
.user-information,
.account-information {
    margin-bottom: 80px;
}
.debtor-name {
    font-size: 2rem;
    font-weight: bold;
}

.receivable-title {
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: bold;
}

.receivable-data {
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: normal;
}

.footer-pdf {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}
